
<h1>Cookbook Servers</h1>
                                                                                        
<div class="in">                                                                                          
<table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main">
  <tr style="background-color:#d9d8d8; font-size:14px;">
    <td width="179"><strong>Pick a Server</strong></td>
  </tr>
<% servers.each do |server,data| %>
  <tr><td>
    <a href="/cooks/<%= server %>"><%=server%></a><BR>
  </tr></td>
<% end %>
